@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply w-1/3 px-8 py-16 bg-stone-900 text-stone-50 md:w-72 rounded-r-xl;
    }

    .sideBarHeading {
        @apply mb-8 font-bold uppercase md:text-xl text-stone-200;
    }
    
    .buttonStyle {
        @apply px-4 py-2 text-xs md:text-base rounded-md bg-stone-700 text-stone-400 hover:bg-stone-600 hover:text-stone-100;
    }

    .inputButCancel {
        @apply text-stone-800 hover:text-stone-950;
    }
    .inputSavBut {
        @apply bg-stone-800 text-stone-50 hover:bg-stone-950 px-6 py-2 rounded-md;
    }

    .inputArea {
        @apply w-full p-1 border-b-2 rounded-sm border-stone-300 bg-stone-200 text-stone-600 focus:outline-none focus:border-stone-600;
    }

    .listedProjects {
        @apply w-full text-left px-2 py-1 rounded-sm my-1 text-stone-400 hover:text-stone-200 hover:bg-stone-800;
    }
}